@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.translate-y-50 {
  transform: translateY(-50%);
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER STYLES */
.header {
  display: flex;
  justify-content: space-between; /* Push title left & buttons right */
  align-items: center;
  padding: 20px 500px; /* Adjust spacing */
  position: fixed; /* Keep header fixed at the top */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

/* TITLE */
.title {
  font-size: 1rem;

  font-family: "Poppins", serif;
  font-weight: 300;
}

/* BUTTONS CONTAINER */
.header-buttons {
  display: flex;
  gap: 15px; /* Controls spacing between buttons */
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Prevent overlap with fixed header */
  font-weight: normal;
  font-family: "Poppins", serif;
} 